extends layout

block content
	h1 CSSAudit

	section.content

		h2 Get CSS from a page
		form(method="post",action="report")
			fieldset
				input#siteurl(name='siteurl', class="input input-url", placeholder="URL")
				br
				label
					input#sort-line(type="radio" name='sortBy', class="input input-radio" checked=true value="lineNumber")
					| Stylesheet Order
					input#sort-selectors(type="radio" name='sortBy', class="input input-radio" value="selectorCount")
					| Number of Selectors

				button(type="submit", class="input btn") Audit CSS

	hr

	section.content

		h2 Get CSS from URL
		form(method="post",action="directreport")
			fieldset
				input#sheeturl(name='sheeturl', class="input input-url", placeholder="URL")
				br
				label
					input#sort-line(type="radio" name='sortBy', class="input input-radio" checked=true value="lineNumber")
					| Stylesheet Order
					input#sort-selectors(type="radio" name='sortBy', class="input input-radio" value="selectorCount")
					| Number of Selectors
					
				button(type="submit", class="input btn") Audit CSS

	hr

	section.content

		h2 Spider CSS from URL
		form(method="post",action="spider")
			fieldset
				input#siteurl(name='siteurl', class="input input-url", placeholder="URL")
				br
				label
					input#sort-line(type="radio" name='sortBy', class="input input-radio" checked=true value="lineNumber")
					| Stylesheet Order
					input#sort-selectors(type="radio" name='sortBy', class="input input-radio" value="selectorCount")
					| Number of Selectors

				button(type="submit", class="input btn") Audit CSS

	hr


	section.content
		h2 Test Selector

		if specificity
			h3 Result
			p <b>Selector:</b> #{selector}
			p <b>Specificity:</b> #{specificity.raw}
			p <b>Specificity Value:</b> #{specificity.value}


		include fragments/formSpecificity.jade