extends layout

block content

	h1= title

	if sheets
		#bySelector
			h2 By Selector Count
			each sheet, sID in sheets
				.sheet
					.header-sheet.header
						p <b>URL</b>: #{sheet.href}
						p <b>Rules:</b> #{sheet.rulesLength}
						p <b>Selectors:</b> #{sheet.selectorsLength}
						p <b>Size:</b> #{sheet.size}Kb
					section.content.content-sheet
						table
							thead
								tr
									th Line
									th Less File?
									th Rules
									th Selectors
							tbody
								each rule, rID in sheet.rules
									tr.list.list-rules(class=rule.selectorCount>10?"rule-danger":"")
										td.line
											span.number.number-line #{rule.lineNumber}
										td.file.file-less
											if rule.lessFile
												span.file-less #{rule.lessFile}
										td.rules
											if rule.declarations
												each declaration, dID in rule.declarations
													if(declaration.type=="declaration")
														span <span class="rule-property">#{declaration.property}:</span> <span class="rule-value">#{declaration.value};</span><br>
										td.selectors
											span(class='number number-selectors selector-#{rule.danger}') #{rule.selectorCount}
											each selector, selID in rule.selectors
												if selector.specificity
													span(class='selector-#{selector.specificity.danger}')
														span.specificity #{selector.specificity.value}
														| #{selector.selector}
													br
												else
													span #{selector.selector}
													br
				br